@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');




@layer utilities{
  .instrument{
     font-family: "Instrument Sans", serif;
  }
  .circle{
    animation: rotatText 20s linear infinite;
  }
  .image_icon{
    transform: translate(-50%,-50%);
  }
  .textcircle{
    fill: black;
    width: 220px;
    height: 220px;
    transform: scale(1);
  }
  @keyframes rotatText{
    0%{
      transform: rotate(360deg);
    }
    100%{
      
      transform: rotate(0deg);
    }
  }
}

@font-face {
  font-family: 'Getaway';
  src: url('./assets/font/getaway.otf') format('opentype');
}
body {
  margin: 0;
   font-family: "Getaway", Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("https://uithemez.com/i/artech/home6_modernAgency/assets/img/body_bg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
